<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-lg-8 d-flex flex-wrap">
      <% portfolios.each do |portfolio| %>
        <%= link_to portfolio_path(portfolio), data: { turbolinks: false }, class: "portfolio-item-link col-md-4 col-sm-6 mb-4" do %>
          <div class="portfolio-item mx-auto">
            <div class="portfolio-image-container">
              <% if portfolio.portfolio_image.attached? %>
                <%= image_tag portfolio.portfolio_image, class: "portfolio-image-mypage", alt: "#{portfolio.name}の画像" %>
              <% else %>
                <%= image_tag "default_image.png", class: "portfolio-image", alt: "デフォルト画像" %>
              <% end %>
            </div>
            <div class="portfolio-name-box">
              <div class="d-flex justify-content-center">
                <div class="portfolio-date">
                  <%= portfolio.created_at.strftime("%Y-%m-%d") %>
                </div>
              </div>
              <div class="portfolio-name d-flex justify-content-center">
                <%= portfolio.name %>
              </div>
              <div class="d-flex justify-content-center  align-items-center pt-2" style="border-top: 1px solid #ddd;">
                <div>
                  <%= image_tag portfolio.user.profile_image, class: "header-profile-image" %>
                </div>
                <div>
                  <%= portfolio.user.nick_name %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>