<!-- app/views/public/portfolios/edit.html.erb -->
<h1>ポートフォリオを編集</h1>

<%= form_with model: @portfolio, local: true do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% @portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :portfolio_url %>
    <%= f.text_field :portfolio_url %>
  </div>

  <div class="field">
    <%= f.label :github_link %>
    <%= f.text_field :github_link %>
  </div>

  <div class="field">
    <%= f.select :visibility, Portfolio.visibilities.keys.map { |v| [I18n.t("activerecord.attributes.portfolio.visibility.#{v}"), v] }, { include_blank: true } %>
  </div>

  <%= f.label :skill_tag_ids, "スキルタグ" %>
  <div class="form-group check-tag-all d-flex flex-wrap">
    <%= f.collection_check_boxes :skill_tag_ids, SkillTag.all, :id, :name do |b| %>
      <div class="tag-item d-flex align-items-center">
        <div class="form-check-box">
          <%= b.check_box %>
        </div>
        <div class="skill_tag d-flex align-items-center">
          <% if b.object.skill_tag_image.attached? %>
            <%= image_tag b.object.skill_tag_image, class: "skill-tag-image rounded-circle", alt: b.object.name %>
          <% end %>
          <%= b.label(class: "form-check-label skill-tag-label ms-2") %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :content, "説明" %>
    <%= f.rich_text_area :content, class: "form-control action_text-field", required: true %>
  </div>

  <div class="actions">
    <%= f.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'キャンセル', portfolio_path(@portfolio), class: 'btn btn-secondary' %>

<%= link_to "マイページ", mypage_users_path %>