<!-- app/views/public/portfolios/edit.html.erb -->
<h1>ポートフォリオを編集</h1>

<%= form_with model: @portfolio, local: true do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
        <% @portfolio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :portfolio_url %>
    <%= f.text_field :portfolio_url %>
  </div>

  <div class="field">
    <%= f.label :github_link %>
    <%= f.text_field :github_link %>
  </div>

  <div class="field">
    <%= f.select :visibility, Portfolio.visibilities.keys.map { |v| [I18n.t("activerecord.attributes.portfolio.visibility.#{v}"), v] }, { include_blank: true } %>
  </div>


  <div class="form-group">
    <%= f.label :content, "説明" %>
    <%= f.rich_text_area :content, class: "form-control action_text-field", required: true %>
  </div>

  <div class="actions">
    <%= f.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'キャンセル', portfolio_path(@portfolio), class: 'btn btn-secondary' %>

<%= link_to "マイページ", mypage_users_path %>