<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <% if @portfolio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
    
          <ul>
            <% @portfolio.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render 'skill_tag_new' %>
      <%= form_with(model: @portfolio, local: true) do |f| %>
        <%= render 'skill_tags', f: f, skill_tags: @skill_tags %>
        <div class="form-group">
          <%= f.label :name, "ポートフォリオ名" %>
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :portfolio_url, "ポートフォリオURL" %>
          <%= f.url_field :portfolio_url, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :github_link, "GitHubリンク" %>
          <%= f.url_field :github_link, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :visibility, "公開設定" %>
          <%= f.select :visibility, [['公開', 'is_public'], ['非公開', 'is_private'], ['フォロワーのみ公開', 'followers_only']], {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :content, "説明" %>
          <%= f.rich_text_area :content, class: "form-control action_text-field", required: true %>
        </div>

        <%= f.submit "作成", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>