<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 d-flex flex-column align-items-center">
      <div class="portfolio-image">
        <%= image_tag @portfolio.portfolio_image.attached? ? @portfolio.portfolio_image : 'no_image.jpg', alt: @portfolio.name, class: 'portfolio-image img-fluid mb-3' %>
      </div>
      <h2 class="font-weight-bold text-center">
        <%= @portfolio.name %>
      </h2>
    </div>


    <div class="col-lg-3">
      <div class="profile-card">
        <% if @user.profile_image.attached? %>
          <%= link_to (current_user == @user ? mypage_users_path : user_path(@user)), class: "profile-card-link", data: { turbolinks: false} do %>
            <%= image_tag @user.profile_image, class: "profile-card-image rounded-circle", alt: "#{@user.nick_name}のプロフィール画像" %>
          <% end %>
        <% else %>
          <!-- プロフィール画像がない場合のデフォルト画像 -->
          <%= link_to (current_user == @user ? mypage_users_path : user_path(@user)), class: "profile-card-link", data: { turbolinks: false} do %>
            <%= image_tag "default_profile.png", class: "profile-card-image rounded-circle", alt: "デフォルトプロフィール画像" %>
          <% end %>
        <% end %>
        <span class="nick-name">
          <%= @user.nick_name %>
        </span>
        <div>
          <%= @user.profile %>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <p class="font-weight-bold">Portfolioリンク: <%= link_to @portfolio.portfolio_url, @portfolio.portfolio_url %></p>
      <p class="font-weight-bold">GitHubリンク: <%= link_to @portfolio.github_link, @portfolio.github_link %></p>

      <div class="like-button">
        <% if current_user.favorited_by?(@portfolio) %>
          <!-- いいね解除ボタン -->
          <%= link_to 'いいね解除', portfolio_favorite_path(@portfolio, current_user.favorites.find_by(portfolio: @portfolio)),
              method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <!-- いいねボタン -->
          <%= link_to 'いいね', portfolio_favorites_path(@portfolio),
              method: :post, class: 'btn btn-primary' %>
        <% end %>
      </div>

      <%= render "portfolio_skills", portfolio: @portfolio %>
    </div>
  </div>
</div>