<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="my-card">
        <div class="my-profile-set d-flex">
          <div class="profile-image-container">
            <%= image_tag(@user.profile_image.attached? ? @user.profile_image : 'no_image.jpg', class: 'mypage-profile-image') %>
          </div>
          <div class="profile-details d-flex flex-column">
            <div class="my-nick-name p-1">
              <%= @user.nick_name %>
            </div>
            <div class="my-gender p-1 my-1">
              <%= I18n.t("activerecord.attributes.user.gender.#{@user.gender}") %>
            </div>
            <div class="my-location p-1">
              <%= @user.location %>
            </div>
          </div>

          <div class="my-profile p-3">
            <%= @user.profile %>
          </div>
        </div>

        <div class="my-work-experience p-1">
          エンジニア職務経験：<%= I18n.t("activerecord.attributes.user.work_experience.#{@user.work_experience}") %>
        </div>
        <div class="my-qualifications mb-2">
          <div class="qualifications-text">取得資格：</div>
          <% if @qualifications.any? %>
            <div class="d-flex flex-wrap mb-0">
              <% @qualifications.each do |qualification| %>
                <div id="qualification-<%= qualification.id %>" class="mr-2 p-1" style="border: 1px solid #ddd; border-radius: 17px;">
                  <%= qualification.name %>
                  <%= link_to "Ｘ", destroy_qualification_users_path(@user, qualification_id: qualification.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか？", turbolinks: false }, class: "destroy-qualification", title: "削除" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
       <div class="d-flex align-items-center mb-2">
        <div>タグ：</div>
        <div class="d-flex flex-wrap">
          <% @skill_tags.each do |skill_tag| %>
            <div class="tag-item d-flex align-items-center">
              <div class="skill_tag d-flex align-items-center mr-2">
                <% if skill_tag.skill_tag_image.attached? %>
                  <%= image_tag skill_tag.skill_tag_image, class: "skill-tag-image rounded-circle", alt: skill_tag.name %>
                <% end %>
                <span class="form-check-label skill-tag-label ms-2"><%= skill_tag.name %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "public/portfolios/portfolio_cards", portfolios: @portfolios %>
