<header class="custom-header py-3">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-md-6 col-lg-9 d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <!-- Logo Section -->
        <div class="mb-2 mb-sm-0">
          <%= link_to root_path, data: { turbolinks: false } do %>
            <%= image_tag 'header-logo.png', alt: 'SkillBridge Logo', class: 'header-logo me-3' %>
          <% end %>
        </div>
        
        <!-- User Options Section -->
        <div class="row d-flex align-items-center flex-column flex-sm-row">
          <div class="search">
            <%= link_to skill_tags_path, class: "search mx-3" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
          
          <% if user_signed_in? %>
            <div class="dropdown">
              <%= image_tag(current_user.profile_image.attached? ? current_user.profile_image : 'no_image.jpg', class: 'header-profile-image', id: 'dropdownToggle') %>
              <div class="dropdown-menu" id="dropdownMenu">
                <a class="dropdown-item" href="<%= mypage_users_path %>" data-turbolinks="false">
                  <i class="fa-solid fa-user" style="margin-right: 8px;"></i>
                  <%= current_user.nick_name %>
                </a>
                <a class="dropdown-item" href="<%= new_portfolio_path %>" data-turbolinks="false">ポートフォリオを作成</a>
                <a class="dropdown-item" href="<%= edit_user_path(current_user) %>" data-turbolinks="false">ユーザーを編集</a>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: 'ログアウトしますか？' } %>
              </div>
            </div>
          <% else %>
            <div>
              <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary me-2' %>
              <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
